*
		{
		margin:0;
		padding:0;
		border:0;
		}

body {
	background-color: #aee2e6;
}

.top{width: 100%;position: fixed;top: 20px;left: 35px; z-index: 999;height: 74;display: block;}	
.top img{float: left;display: block;}

.main{width:100%;z-index: 99;position: fixed;top: 0;left: 0;display: block;}

.main .logo{height: 70px;margin: 100px 0 61px;display: block;}
.main .logo img{width: 181px;height: 70px;display: block;margin: 0 auto;}

.main .text{height:189px;margin: 0 auto; display: block;padding: 0 50px;}
.main .text p{font-size: 30;color: #fff;text-align: center;display: block;}

.main .bottom{height:130px;display:block; margin: 0 auto ;}
.main .bottom img{display: block;width: 84px;height: 84px; margin: 0 auto;}

.main .bottom .imgle{width: 50%;height: 130px;float: left;display: block;}
.main .bottom .imgle p{font-size:24px;color: #fff;;display: block;text-align: center;}

.main .bottom .imgri{width: 50%;height: 130px;float: right;display: block;}
.main .bottom .imgri p{font-size:24px;color: #fff; display: block;text-align: center;}
