*
		{
		margin:0;
		padding:0;
		border:0;
		}

body {
	background-color: #aee2e6;
}

.top{position: fixed;top: 2%;left: 2%; z-index: 999;height: 8%;width: 98%;display: block;}	
.top img{float: left;display: block;}

.main{width: 100%;height: 100%;z-index: 99;position: fixed;top: 0;left: 0;display: block;}

.main .logo{width: 100%;height: 15%;margin: 5% 0 5%;display: block;}
.main .logo img{display: block;margin: 0 auto;}

.main .text{width: 80%;height: 20%;margin: 5% 10% 2%; display: block;}
.main .text p{font-size: 1em;color: #fff;text-align: center;display: block;}

.main .bottom{width: 70%;height: 30%;display:block; margin: 0 10% ;padding: 0 5%;overflow: hidden;}
.main .bottom img{display: block;width: 50px;height: 60px; margin: 0 auto;}

.main .bottom .imgle{width: 25%;height: 100%;float: left;display: block;}
.main .bottom .imgle p{font-size:1em;color: #fff;;display: block;text-align: center;}

.main .bottom .imgri{width: 25%;height: 100%;float: right;display: block;}
.main .bottom .imgri p{font-size:1em;color: #fff; display: block;text-align: center;}
